!!!5
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-2.1.3.min.js")
  body
    header
      h1 GridJS
    
    block script
    #rayon  
    #result  
    footer
      p Running on node with Express, Jade and Stylus