.vignette
  //position: relative
  //float: left
  //width: 500px
  min-height: 150px
  //padding: 5%
  ///background-color: none
  box-shadow: 0px 0px 5px #202a36

.vignette-contenant
  position: inherit
  top: 10px
  left: 10px
  //margin: 2%
  //padding: 1%
  //background-color: white
  //box-shadow: 1px 1px 3px #202a36

.vignette-contenant-n21
  position: absolute
  width: 96%
  height: 96%
  //margin: 2%

.vignette-contenant-n21 .input
  position: relative
  float: left

.vignette-contenant-n21 .input input
  background: none
  border: none
  box-shadow: 1px 1px 3px #202a36

.vignette-contenant-n2 .input input[name="body"], textarea
  width: 400px
  height: 250px

.vignette-contenant-n21 .submit input
  background: none
  border: none
  box-shadow: 1px 1px 3px #202a36

.brand1
  position: absolute
  bottom: 0px
  right: 2%
  font-style: italic

.delete1
  position: absolute
  top: 2%
  right: 2%

.blog-item, .blog-item-header
  //margin: 3px 0
  //width: 600px
  //height: 150px
.blog-item
  //background-color: rgb(250, 252, 254)
.blog-item-header
  //background-color: rgb(200, 202, 204)

