body
  //background-color: rgb(32, 42, 54)
  margin: 0

.banner
  height: 50%

.page
  //width: 1024px
  //height: 512px
  //margin-left: auto
  //margin-right: auto
  //height: 100%;
  background-color: rgb(250, 252, 254)
  //background-image: url('../test3.png')
  //padding: 10px
  //overflow:scroll ;
  //overflow-x:hidden;
  //overflow-y:hidden;
  font-family: Verdana, Arial, Helvetica, sans-serif
  color: rgb(74, 105, 141)
  -webkit-font-smoothing: antialiased
    //font-weight: 200
  //font-size: 42pt
  letter-spacing: 0.00em
  //line-height: 44pt
  font-smooth: always

input
  font-family: Verdana, Arial, Helvetica, sans-serif
  color: rgb(74, 105, 141)

.menu
  position: fixed
  top: 0
  left: 100px
  font-size: 4em
  //background-color: rgb(250, 252, 254)
  //background-color: red

.identity
  position: fixed
  top: 0px
  right: 100px

.footer
  position: fixed
  bottom: 0px
  right: 100px
  font-style: italic
  font-size: 3em

.menu-item
  height: 100px
  width: 200px

.menu-contenant
  height: 80px
  width: 180px
  margin: 10px
  background-color: white
  box-shadow: 1px 1px 15px #aaa

.menu-item,.menu-item-header
  //border-style:solid
  //border-width:1px
  width: 200px
  height: 100px
  margin: 3px 0
.menu-item
  background-color: rgb(250, 252, 254)
.menu-item-header
  background-color: rgb(200, 202, 204)


.line-separator
  height: 1px
  margin: 10px
  background: #717171
  border-bottom: 1px solid #313030


ol,lh,li
  list-style-type: none
  display: list-item
  margin: 0
  padding: 0

.menu
  a:link,a:visited
    color: rgba(74, 105, 141, 0.5)
    text-decoration: none
  a:hover,a:focus,a:active
    color: rgb(74, 105, 141)
    text-decoration: none

 //##########################################################"
.menu-old
  position: absolute
  float: left
  //top: 0px
  //left: 0px
  //width: 250px
  //height: 100%
  //padding: 10px
  //background-color: rgb(250, 252, 254)
  background-color: red
  //overflow:auto

.apps-old
    position: relative
    //float: left
    //top: 0px
    //left: 10px
    //width: 700px
    height: 100%
    //padding: 10px
    //background-color: rgb(250, 252, 254)
    //overflow:auto
.app-content-old
    position: relative
    top: 0px
    height: 100%
    //overflow:scroll
    //overflow-x:hidden
    //overflow-y:hidden