.metrouicss .tile {
  display: block;
  float: left;
  background-color: #525252;
  width: 150px;
  //height: 150px;
  //height: auto;
  cursor: pointer;
  box-shadow: inset 0px 0px 1px #FFFFCC;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 11pt;
  letter-spacing: 0.02em;
  line-height: 14pt;
  font-smooth: always;
  margin: 0 10px 10px 0;
  overflow: hidden;
}